@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using GDMUmbracoStandardTypes
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core

@{
    //IPublishedContent? linkPage = null;
    //IPublishedContent? root = Model.Root();

    //string? linkPageUdi = root == null ? null : root.Value<string>("link");
    ////string? linkPageUdi = Model.MacroParameters["link"].ToString();
    //if (!string.IsNullOrWhiteSpace(linkPageUdi))
    //{
    //    root = Umbraco.Content(linkPageUdi);
    //}

    //string? linkName = root == null ? null : root.Name;
    //string? linkNameProp = root == null ? null : root.Value<string>("linkName");
    ////string? linkNameProp = Model.GetParameterValue<string?>("linkName");
    //if (!string.IsNullOrWhiteSpace(linkNameProp))
    //{
    //    linkName = linkNameProp;
    //}
}

<div class="bottom-button">
    <a type="button" class="btn btn-warning" href="#">
        Get A Quote
    </a>
</div>
