.admin-widget-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 100;
}

    .admin-widget-wrapper .container {
        display: flex;
        justify-content: flex-end;
    }

.admin-widget {
    position: relative;
    font-size: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.35);
    pointer-events: all;
}

.admin-widget-toggle {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    background-color: #3544b1;
}

#admin-widget-dropdown {
    margin: 0;
    width: 100%;
    background-color: #3544b1;
    font-size: 14px;
}

    #admin-widget-dropdown:not(.show) {
        display: block;
        overflow: hidden;
        height: 0;
    }

    #admin-widget-dropdown li a {
        display: block;
        padding: 6px 8px;
        color: #FFF;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.25);
    }

    #admin-widget-dropdown li.divider {
        border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    }
